// color pallete
$earth-blue: #208bd2;
$trees: #45cb69;
$earth-outline-blue: #0a1436;
$earth-aura: #10329b;
$clouds: #ffffff;
$bg: #03081b;

@mixin animation($name, $time) {
    -webkit-animation: $name $time linear infinite;
    animation: $name $time linear infinite;
}

%centerElement {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

* {
    box-sizing: border-box;
}

.header {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    padding: 1em;
}

h1,
p {
    font-family: Roboto, 'Helvetica', sans-serif;
    font-size: 1em;
    text-align: left;
    margin: 0.25em;
    padding: 0.25em;
    color: white;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

h1 {
    font-weight: 800;
    letter-spacing: 8px;
}

p {
    font-weight: 100;
    font-size: 0.75em;
    letter-spacing: 2px;

}

.wrapper {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.earth {
    position: relative;
    width: 30vw;
    height: 30vw;
    background: $earth-blue;
    border: solid 1vw $earth-outline-blue;
    border-radius: 50%;
    z-index: 0;
    overflow: hidden;
    @extend %centerElement;

}

.earth-aura {
    position: absolute;
    width: 38vw;
    height: 38vw;
    @extend %centerElement;
    background: $earth-aura;
    opacity: 0.5;
    border-radius: 50%;
    z-index: -1;

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 44vw;
        height: 44vw;
        @extend %centerElement;
        border-radius: 50%;
        background: $earth-aura;
        opacity: 0.6;
        z-index: -2;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 50vw;
        height: 50vw;
        @extend %centerElement;
        border-radius: 50%;
        background: $earth-aura;
        opacity: 0.4;
        z-index: -3;
    }

}

.earth-shadow-container {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.earth-shadow {
    position: absolute;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    z-index: 1000;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background: $bg;
    z-index: -10;
}

.clouds {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include animation(clouds, 10s);
    z-index: 450;

    .lines-1 {
        position: absolute;
        top: 50%;
        left: 10%;
        background: $clouds;
        border-radius: 50px;
        opacity: 0.85;
        width: 8vw;
        height: 2vw;
        box-shadow: -10vw -10vw 0 rgba(255, 255, 255, 0.8);

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: -500%;
            left: 150%;
            background: $clouds;
            border-radius: 50px;
            opacity: 0.80;
            width: 10vw;
            height: 4vw;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -100%;
            left: 100%;
            background: $clouds;
            border-radius: 50px;
            opacity: 0.80;
            width: 5vw;
            height: 2vw;
            box-shadow: 10vw 5vw 0 rgba(255, 255, 255, 1);
        }
    }

    .lines-2 {
        position: absolute;
        top: 25%;
        left: 25%;
        background: $clouds;
        border-radius: 50px;
        opacity: 0.85;
        width: 3vw;
        height: 1vw;
        box-shadow: 10vw 5vw 0 rgba(255, 255, 255, 1);

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 200%;
            left: -50%;
            width: 2vw;
            height: 1vw;
            background: $clouds;
            border-radius: 50px;
            box-shadow: -5vw 5vw 0 rgba(255, 255, 255, 1);
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 200%;
            left: -100%;
            width: 4vw;
            height: 1vw;
            background: $clouds;
            border-radius: 50px;
        }
    }


}

.clouds-glob-1 {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 9;

    .glob-line-1 {
        width: 2vw;
        height: 2vw;
        background: $clouds;
        border-radius: 10px;
        @extend %centerElement;
    }
}

.trees {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include animation(trees, 15s);

    .line-1 {
        position: absolute;
        top: 75%;
        left: 20%;
        width: 12vw;
        height: 4vw;
        background: $trees;
        border-radius: 50px;

        &:after {
            content: '';
            position: absolute;
            display: block;
            top: -150%;
            left: 70%;
            width: 8vw;
            height: 3vw;
            background: $trees;
            border-radius: 50px;
        }

        &:before {
            content: '';
            position: absolute;
            display: block;
            top: -200%;
            left: -50%;
            width: 5vw;
            height: 2vw;
            background: $trees;
            border-radius: 50px;
        }

    }

    .line-2 {
        position: absolute;
        top: 50%;
        left: 70%;
        width: 12vw;
        height: 4vw;
        background: $trees;
        border-radius: 50px;

        &:after {
            content: '';
            position: absolute;
            display: block;
            top: -150%;
            left: 70%;
            width: 8vw;
            height: 3vw;
            background: $trees;
            border-radius: 50px;
        }

        &:before {
            content: '';
            position: absolute;
            display: block;
            top: -100%;
            left: -50%;
            width: 5vw;
            height: 2vw;
            background: $trees;
            border-radius: 50px;
        }
    }
}

.stars {
    background: rgba(255, 255, 255, 0.8);
}

.large-stars {
    background: rgba(255, 255, 255, 0.75);
}

.stars,
.large-stars {
    display: block;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

@keyframes clouds {
    0% {
        transform: translateX(110%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes trees {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-150%);
    }
}